<%-include('../header')%>

  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title">Tables</h4>
          <div class="ms-auto text-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Library
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
     <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Product Data</h5>
              <div class="table-responsive">
                <table id="zero_config" class="table table-striped table-bordered">
                  <thead>
                    <tr style="font-size: 15px;">
                      <th>No</th>
                      <th>Category Name</th>
                      <th>Sub_Category Name</th>
                      <th>extra SubCategory Name</th>
                      <th>Product Name</th>
                      <th>Discription</th>
                      <th>Price</th>
                      <th>Images</th>
                      <th>Action</th>
                      <th>Status</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% product.map((val,i)=>{ %>

                      <tr>
                        <td>
                          <%= ++i %>
                        </td>
                        <td>
                          <%= val.categoryId.category %>
                        </td>
                        <td>
                          <%= val.subcategoryId.subcategory %>
                        </td>
                        <td>
                          <%= val.exsubcategoryId.exsubcategory %>
                        </td>
                        <td>
                          <%= val.name %>
                        </td>
                        <td>
                          <%= val.discription %>
                        </td>
                        <td>
                          <%= val.price %>
                        </td>
                        <td>
                          <img src="../<%= val.image %>" width="70">
                        </td>
                        <td>
                          <a href="/product/deleteproduct?id=<%= val.id %>" class=" btn btn-danger"> Delete </a>
                          <a href="/product/editproduct?id=<%= val.id %>" class=" btn btn-success"> Edit </a>
                        </td>
                        <td>
                          <% if(val.status=="active" ){ %>
                            <a href="/product/changestatus?id=<%= val.id %>&status=<%= val.status %>"
                              class=" btn btn-success"> Active </a>
                            <% }else{ %>
                              <a href="/product/changestatus?id=<%= val.id %>&status=<%= val.status %>"
                                class="text-dark btn btn-warning"> Deactive </a>
                              <% } %>
                        </td>
                      </tr>
                      <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right sidebar -->
      <!-- ============================================================== -->
      <!-- .right-sidebar -->
      <!-- ============================================================== -->
      <!-- End Right sidebar -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
      All Rights Reserved by Matrix-admin. Designed and Developed by
      <a href="https://www.wrappixel.com">WrapPixel</a>.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>

  <%- include('../footer')%>